.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10005; 
    padding: 1rem 2rem;
}

.logo {
    position: relative;
    z-index: 10006; 
    pointer-events: auto !important;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-list li a:hover {
    transform: translateY(-5px);
}

.logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.logo h1:hover {
    transform: rotate(360deg) scale(1);
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none !important;
    }
}